{{> header}}

<body>
    <h1>Your Serials</h1>
    <div class="serialsContainer">
        {{#each serials}}
        <div class="serials">
            <div class="item"><span class="label">ID</span> : {{this.id}}</div>
            <div class="item"><span class="label">Client</span> : {{this.client}}</div>
            <div class="item"><span class="label">Serial</span> : {{this.serial}}</div>
            <div class="item"><span class="label">Macs</span> : 
                {{#each this.macs}}
                    [{{this.mac}}] 
                {{/each}}
            </div>

        </div>
        {{/each}}
    </div>


    <section class="formContainer-full">
        <h1>Add a Serial</h1>
        <form id="serial-form">
            <div class="formfield">
                <label for="serial">Key <i class="fas fa-key input-icon"></i></label>
                <input type="serial" name="serial" id="serial" required readonly value={{serial}}>
            </div>
            <div class="formfield">
                <label for="client">Client <i class="fas fa-building input-icon"></i></label>
                <input type="text" name="client" id="client" required>
            </div>
            <button>Add Serial</button>
        </form>
    </section>
    <section id="flash-message" class="information-board">
        <p>Some dummy Information</p>
    </section>
    <script src="scripts/dashboard.js"></script>
    {{> footer}}